<h1>New Gym SignUp</h1>

<%= form_with scope: :gym ,url: gyms_path ,local: true do |form| %>
  <% if @gym.errors.any? %>
    <div id="error_explanation">
      <h2> prohibited this gym from being saved:</h2>

      <ul>
        <% @gym.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
    
    <div class="actions">
    <%= form.submit %>
  </div>
<%end%>
<%= link_to 'Back', gyms_path %>